<!doctype html>
<head>
    {% block head %}
    
    {% endblock %}
    {% block styles%}
    {{bootstrap.load_css()}}
    {% endblock%}
    {% block title %}
    <title>Your page</title>

    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    {% block scripts%}
    {{bootstrap.load_js()}}
    

  
    {% endblock %}
